@media screen and (max-width: 768px) and (min-width: 550px) {
	nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	body .expand {
		padding: 30px 30px 10px 30px;
	}
	body .expand .mainText {
		padding: 50px 0;
		margin-bottom: 20px;
	}
	body .expand .mainText h2 {
		font-size: 30px;
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 549px) {
	nav {
		padding: 0 20px;
	}
	menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	}
	menu li {
	margin-bottom: 10px;
	}
	body header .mainText h2 {
		font-size: 40px;
		margin-top: -20px;
	}
	body header .mainText p {
		font-size: 18px;
		padding-bottom: 20px 10px;
	}
	body .expand {
		padding: 10px;
	}
	body .expand .mainText {
		border: none;
		padding: 30px 0;
		margin-bottom: 20px;
	}
	body .expand .mainText h2 {
		font-size: 25px;
		margin-bottom: 30px;
	}	
	body .our_process .steps {
		display: block;
	}
	body .our_process .back_process {
		display: none;
	}
	body .our_team .wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}
@media screen and (max-width: 1260px) {
	.recive {
		padding: 30px 20px;
	}
	.recive h2 {
		font-size: 26px;
	}
	.recive p {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.icons {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.icons div {
		max-width: 350px;
	}
	.icons div p {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 768px) {
	.wedo1, .wedo2, .wedo3 {
			padding: 5px;
			text-align: center;
	}
	.wedo1 .container .left h3,
	.wedo2 .container .left h3,
	.wedo3 .container .left h3 {
		border: none;
		padding: 0;
	}
	.wedo1 .container,
	.wedo2 .container,
	.wedo3 .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.wedo1 .container img,
	.wedo2 .container img,
	.wedo3 .container img {
		width: 100%;
	}
	.wedo1 .container .right,
	.wedo2 .container .right,
	.wedo3 .container .right {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		max-width: 100%;
	}

	.wedo1 .container .left, 
	.wedo2 .container .left,
	.wedo3 .container .left {
		text-align: center;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		max-width: 100%;
		margin-bottom: 30px;
	}
		.wedo1 .container .btn,
		.wedo2 .container .btn,
		.wedo3 .container .btn {
			margin-bottom: 20px;
		}
}